<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphique des dépenses</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Graphique des dépenses</h1>
    <div th:if="${profileType}">
        <p>Votre profil : <span th:text="${profileType}"></span></p>
    </div>
    <div th:if="${profileBudget}">
        <p>Votre budget : <span th:text="${profileBudget}"></span> €</p>
    </div>

    <canvas id="myChart" th:width="${chartWidth}" th:height="${chartHeight}"></canvas>
    

    <script th:inline="javascript">
        /*<![CDATA[*/
        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('myChart').getContext('2d');
            var chartData = /*[[${chartData}]]*/ '';
            var days = Object.keys(chartData);

            var datasets = [];
            var categoryColors = ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)'];

            days.forEach(function(day, index) {
                var dayData = chartData[day];
                var data = Object.values(dayData);
                var categories = Object.keys(dayData);

                categories.forEach(function(category, idx) {
                var categoryNames = category.split(',');
                categoryNames.forEach(function(categoryName, i) {
                    if (datasets[idx + i] === undefined) {
                        datasets[idx + i] = {
                            label: categoryName,
                            data: [],
                            backgroundColor: categoryColors[(idx + i) % categoryColors.length],
                            stack: 'Stack 0'
                        };
                    }
                    datasets[idx + i].data.push(data[idx]);
                });
            });
        });

            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: days,
                    datasets: datasets
                },
                options: {
                    scales: {
                        yAxes: [{
                            stacked: true,
                            ticks: {
                                beginAtZero: true
                            }
                        }],
                        xAxes: [{
                            stacked: true
                        }]
                    }
                }
            });
        });
        /*]]>*/
    </script>

<form action="/updateSpending" method="POST">
    <input type="number" step="0.01" name="amountSpentDay" placeholder="Amount Spent per Day">
    <input type="number" step="0.01" name="amountSpentPerCategory" placeholder="Amount Spent per Category">
    <button type="submit">Update Spending</button>
</form>



    

</body>
</html>